::ng-deep html {
    overflow-x: hidden !important;
}

.p-0 {
    padding: 0;
}

.bg-image {
    background: url('../../../../../assets/images/login/gradient-bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-gradient {

    height: 100%;
    color: white;
}

a.nav-link {
    color: #fff !important;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-right: 40px;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 207px auto 128px auto;
}

.p-head {
    padding: 16px 100px;
}

.form-container {
    width: 494px;
    border-radius: 24px;
    border: 1px solid #CED3DB;
    background: #F6F7F9;
    padding: 32px 24px;
}

.form-group {
    padding-top: 24px;
}

.login-form {
    width: 550px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-heading {
    color: #292F3B;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 8px;
    padding-top: 24px;
}

.login-subtext {
    color: #62708C;
    /* Body Medium/Regular */
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control {
    padding:10px 12px 10px 40px;
}

.btn-primary {
    background-color: #f15a24;
    border-color: #f15a24;
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    padding: 12px 16px;
}

.btn-primary:hover {
    background-color: #e14c1f;
    border-color: #e14c1f;
}

.login-footer {
    text-align: center;
    margin-top: 20px;
}

.login-footer a {
    color: #f15a24;
    text-decoration: none;
}

.login-footer a:hover {
    text-decoration: underline;
}

.form-link a {
    text-align: right;
    color: #EA2121;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    float: right;

}

.form-link {
    padding-top: 16px;
}

.form-link:hover {
    text-decoration: underline;
}

.brand-logo {
    color: #000;
}

.input-group {
    max-width: 500px;
    margin: auto;
}

.input-group-text {
    cursor: pointer;
    background-color: #fff;
}

.form-label {
    color: #292F3B;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.footer-main {
    padding: 16px 100px;
    min-height: 168px;
    min-height: 168px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-footer p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.login-footer p a {
    font-weight: 600;
}

.field-icon {
    position: absolute;
    margin-left: 12px;
    display: flex;
    align-items: center;
    margin-top: 14px;
    z-index: 9;
}

.pwd {
    border-right-color: #fff !important;
}

input:focus {
    outline: none !important;
}

.form-control:focus {
    border-color: #CED3DB;
}

.login-footer p {
    margin: 0;
}

.copyright {
    color: #292F3B;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    vertical-align: middle;
    display: inline-flex;
    padding-right: 36px;
}

.copyright img {
    padding-right: 5px;
}

.fl-r {
    text-align: right;
}

.sep {
    margin-right: 40px;
}
.text-center{
    text-align: center;
}
@media screen and (max-width: 767px) {
    .form-container{
        width: 350px;
    }
    .login-container{
        margin: 60px auto 10px auto;
    }
    .p-head{
        padding: 16px 10px;
    }
    .footer-main {
        padding: 16px 20px;
        min-height: 100%;
        display: block;
    }
    .fl-r{
        text-align: left;
    }
    .copyright{
        display: block;
        padding-right: 0;
    }
    .sep{
        margin-right: 40px;
        display: none;
    }
    .navbar-collapse.justify-content-end.collapse.show {
        height: 281px;
        position: fixed;
        z-index: 9999999;
        background: #f15a24;
        padding: 20px;
        border-radius: 9px;
        width: 94%;
        margin-top: 90%;
    }
}